.wrap {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  @apply grid gap-4 grid-cols-8;
  padding-top: 30px;
  .content-left {
    @apply col-span-2 h-screen;
    position: sticky;
    top: 85px;
    .category {
      @apply border-2 rounded py-5 px-4;
      .category-title {
        @apply text-xl font-bold mb-3 border-b pb-2;
      }
      .category-group {
        @apply border-b mb-2 pb-2;
        .group-title {
          @apply text-lg font-bold;
        }
        .category-list {
          @apply ml-2 text-base font-medium;
          .category-item {
            @apply p-1 cursor-pointer transition-all;
            &:hover {
              @apply text-pink-500;
            }
          }
          .active {
            @apply text-pink-500;
          }
        }
      }
    }
  }
  .content-right {
    @apply col-span-6 pb-6;
   .group {
     .title {
       @apply text-2xl font-bold mb-4;
     }
     .list-item {
       @apply grid gap-6 grid-cols-4;
       .item {
         @apply cursor-pointer;
         &:hover .item-title {
           @apply text-pink-500;
         }
         .img {
           @apply w-full h-72;
           img {
             @apply h-full rounded;
           }
         }
         .item-title {
           @apply text-sm mt-2 font-semibold;
           display: -webkit-box;
           -webkit-box-orient: vertical;
           -webkit-line-clamp: 2;
           overflow: hidden;
           height: 50px;
           line-height: 25px;
         }
         .item-price {
           @apply text-red-600 text-base font-medium
         }
       }
     }
   }

  }
}
