.wrapper-content {
  @apply min-h-screen flex justify-center items-center py-8;
  background-image: url("/assets/img/background.jpg");
  background-size: contain;
  .content {
    width: 600px;
    @apply bg-white rounded-xl p-8 flex flex-col items-center shadow-2xl relative mx-3 ;
    .icon-arrow {
      @apply absolute left-5 top-6 text-xl cursor-pointer;
    }
    .icon {
      @apply w-16 rounded-2xl;
    }
    .content-title{
      @apply text-4xl font-black text-center my-6 md:px-12;
    }
    .form {
      @apply w-full mt-3;
      .form-input {
        @apply w-full border px-2 py-1 ;
      }
      .form-group {
        @apply flex ;
      }
      nz-form-item {
        @apply flex justify-between items-center;
      }

    }
    .btn {
      @apply border rounded-2xl py-2 px-3  bg-white  text-orange-600 border-orange-500 font-medium text-base transition-all
      mt-3;
      &:hover {
        @apply bg-orange-600 text-white;
      }
    }
  }
}
