.wrap {
  .banner {
    .banner-img {
      @apply  h-60 sm:h-full w-full;
    }
  }
  .group-sale {
    @apply lg:py-8 py-6;
    .title {
      @apply lg:text-2xl text-lg text-center font-bold lg:mb-4 mb-2 relative;
      text-transform: uppercase;
      &:after{
        content: '';
        width: 100px;
        padding: 0.5px;
        background-color: #333;
        position: absolute;
        bottom: -12px;
        right: 50%;
        transform: translateX(50%);
      }
    }
    .description {
      @apply text-center text-base text-gray-400 italic mt-4;
    }
    .list-item {
      @apply md:grid gap-6 xl:grid-cols-5 md:grid-cols-3 lg:grid-cols-4 lg:mt-10 mt-6 px-6 xl:p-0 flex snap-x overflow-scroll sm:overflow-hidden snap-mandatory scroll-py-1;
      .item {
        @apply cursor-pointer snap-center flex-shrink-0 sm:flex-shrink w-8/12 sm:w-full;

        &:hover .item-title {
          @apply text-pink-500;
        }
        .img {
          @apply w-full h-72;
          img {
            @apply h-full w-full rounded;
          }
        }
        .item-title {
          @apply text-sm mt-2 font-medium transition-all;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          height: 50px;
          line-height: 25px;
        }
        .item-price {
          @apply text-red-600 text-base font-medium
        }
      }
    }
  }

}
@media (min-width: 1280px) {
  .wrap {
    .group-sale {
      width: 1300px;
      margin-right: auto;
      margin-left: auto;
      .list-item {
        .item {
          @apply w-full;
        }
      }
    }

  }
}
