<div class="wrap">
 <div class="left">
   <div class="group-title">
     <span class="title-cart">Giỏ Hàng: </span>
     <span class="title-total__product">4 Sản phẩm</span>
   </div>
   <div class="list-product">
     <div class="item-product">
       <div class="product-detail">
         <div class="product-img">
           <img src="https://product.hstatic.net/200000465365/product/set-croptop-rut-day-hong_ec9b948b69c84ad099033a86c49ede95_medium.jpg" alt="">
         </div>
         <div class="product-des">
           <div class="product-title">Set áo croptop GẤU QUẦN RÚT DÂY bé gái BXG14 </div>
           <div class="product-size">Size: 5</div>
           <div class="product-price">170,000đ</div>
         </div>
       </div>
       <div class="product-quantity">
         <div class="group-quantity">
           <input type="button" value="-" (click)="handleAdjust(-1)" class="btn btn-adjust">
           <input type="text" disabled value="18" class="btn btn-total">
           <input type="button" value="+" (click)="handleAdjust(1)" class="btn btn-adjust">
         </div>
         <button class="btn-delete">Xóa</button>
       </div>
       <span class="total-price">350000đ</span>
     </div>
     <div class="item-product">
       <div class="product-detail">
         <div class="product-img">
           <img src="https://product.hstatic.net/200000465365/product/set-croptop-rut-day-hong_ec9b948b69c84ad099033a86c49ede95_medium.jpg" alt="">
         </div>
         <div class="product-des">
           <div class="product-title">Set áo croptop GẤU QUẦN RÚT DÂY bé gái BXG14 </div>
           <div class="product-size">Size: 5</div>
           <div class="product-price">170,000đ</div>
         </div>
       </div>
       <div class="product-quantity">
         <div class="group-quantity">
           <input type="button" value="-" (click)="handleAdjust(-1)" class="btn btn-adjust">
           <input type="text" disabled value="18" class="btn btn-total">
           <input type="button" value="+" (click)="handleAdjust(1)" class="btn btn-adjust">
         </div>
         <button class="btn-delete">Xóa</button>
       </div>
       <span class="total-price">350000đ</span>
     </div>
     <div class="item-product">
       <div class="product-detail">
         <div class="product-img">
           <img src="https://product.hstatic.net/200000465365/product/set-croptop-rut-day-hong_ec9b948b69c84ad099033a86c49ede95_medium.jpg" alt="">
         </div>
         <div class="product-des">
           <div class="product-title">Set áo croptop GẤU QUẦN RÚT DÂY bé gái BXG14 </div>
           <div class="product-size">Size: 5</div>
           <div class="product-price">170,000đ</div>
         </div>
       </div>
       <div class="product-quantity">
         <div class="group-quantity">
           <input type="button" value="-" (click)="handleAdjust(-1)" class="btn btn-adjust">
           <input type="text" disabled value="18" class="btn btn-total">
           <input type="button" value="+" (click)="handleAdjust(1)" class="btn btn-adjust">
         </div>
         <button class="btn-delete">Xóa</button>
       </div>
       <span class="total-price">350000đ</span>
     </div>
     <div class="item-product">
       <div class="product-detail">
         <div class="product-img">
           <img src="https://product.hstatic.net/200000465365/product/set-croptop-rut-day-hong_ec9b948b69c84ad099033a86c49ede95_medium.jpg" alt="">
         </div>
         <div class="product-des">
           <div class="product-title">Set áo croptop GẤU QUẦN RÚT DÂY bé gái BXG14 </div>
           <div class="product-size">Size: 5</div>
           <div class="product-price">170,000đ</div>
         </div>
       </div>
       <div class="product-quantity">
         <div class="group-quantity">
           <input type="button" value="-" (click)="handleAdjust(-1)" class="btn btn-adjust">
           <input type="text" disabled value="18" class="btn btn-total">
           <input type="button" value="+" (click)="handleAdjust(1)" class="btn btn-adjust">
         </div>
         <button class="btn-delete">Xóa</button>
       </div>
       <span class="total-price">350000đ</span>
     </div>
     <div class="item-product">
       <div class="product-detail">
         <div class="product-img">
           <img src="https://product.hstatic.net/200000465365/product/set-croptop-rut-day-hong_ec9b948b69c84ad099033a86c49ede95_medium.jpg" alt="">
         </div>
         <div class="product-des">
           <div class="product-title">Set áo croptop GẤU QUẦN RÚT DÂY bé gái BXG14 </div>
           <div class="product-size">Size: 5</div>
           <div class="product-price">170,000đ</div>
         </div>
       </div>
       <div class="product-quantity">
         <div class="group-quantity">
           <input type="button" value="-" (click)="handleAdjust(-1)" class="btn btn-adjust">
           <input type="text" disabled value="18" class="btn btn-total">
           <input type="button" value="+" (click)="handleAdjust(1)" class="btn btn-adjust">
         </div>
         <button class="btn-delete">Xóa</button>
       </div>
       <span class="total-price">350000đ</span>
     </div>
     <div class="item-product">
       <div class="product-detail">
         <div class="product-img">
           <img src="https://product.hstatic.net/200000465365/product/set-croptop-rut-day-hong_ec9b948b69c84ad099033a86c49ede95_medium.jpg" alt="">
         </div>
         <div class="product-des">
           <div class="product-title">Set áo croptop GẤU QUẦN RÚT DÂY bé gái BXG14 </div>
           <div class="product-size">Size: 5</div>
           <div class="product-price">170,000đ</div>
         </div>
       </div>
       <div class="product-quantity">
         <div class="group-quantity">
           <input type="button" value="-" (click)="handleAdjust(-1)" class="btn btn-adjust">
           <input type="text" disabled value="18" class="btn btn-total">
           <input type="button" value="+" (click)="handleAdjust(1)" class="btn btn-adjust">
         </div>
         <button class="btn-delete">Xóa</button>
       </div>
       <span class="total-price">350000đ</span>
     </div>
   </div>
 </div>
  <div class="right">
   <div class="content">
     <h1 class="title">Thông tin đơn hàng</h1>
     <div class="total-price">
       <span class="total-title">Tổng tiền:</span>
       <span class="price">614000đ</span>
     </div>
     <button class="check-out">Thanh toán ngay</button>
     <div class="continue">
       <i class="fa-solid fa-reply continue-icon"></i>
       <span class="continue-title">Tiếp tục mua hàng</span>
     </div>
   </div>
  </div>
</div>
