<div class="wrap">
 <div class="left">
   <div class="group-title">
     <span class="title-cart">Giỏ Hàng: </span>
     <span class="title-total__product"> Số lượng: {{listDataCart.length}}</span>
   </div>
   <div class="list-product">
     <div *ngFor="let data of listDataCart" class="item-product">
       <div class="product-detail">
         <div class="product-img">
           <img [src]="data.img" alt="">
         </div>
         <div class="product-des">
           <div class="product-title">{{data.title}} </div>
           <div class="product-size">Size: {{data.size}}</div>
           <div class="product-price">{{convertNumber(data.price)}}</div>
         </div>
       </div>
       <div class="product-quantity">
         <div class="group-quantity">
           <input type="button" value="-" (click)="handleAdjust(-1,data.id)" class="btn btn-adjust">
           <input type="text" disabled value="{{data.total}}" class="btn btn-total">
           <input type="button" value="+" (click)="handleAdjust(1,data.id)" class="btn btn-adjust">
         </div>
         <button class="btn-delete" (click)="handleDelete(data.id)">Xóa</button>
       </div>
       <span class="total-price">{{convertNumber(data.price * data.total)}}đ</span>
     </div>

   </div>
   <h1 class="no-product text-xl font-medium" *ngIf="listDataCart.length == 0">Không có sản phẩm trong giỏ hàng !</h1>
 </div>
  <div class="right">
   <div class="content">
     <h1 class="title">Thông tin đơn hàng</h1>
     <div class="total-price">
       <span class="total-title">Tổng tiền:</span>
       <span class="price">{{convertNumber(totalPrice)}}đ</span>
     </div>
     <button class="check-out">Thanh toán ngay</button>
     <div class="continue">
       <i class="fa-solid fa-reply continue-icon"></i>
       <span class="continue-title">Tiếp tục mua hàng</span>
     </div>
   </div>
  </div>
</div>
