<div class="wrap">
  <i class="fa-solid fa-arrow-left icon-arrow" routerLink="/cart"></i>
  <div class="left">
    <h1 class="title">Thông tin giao hàng</h1>
    <form nz-form [formGroup]="formData" class="form" nzLayout="vertical">
      <nz-form-item>
        <nz-form-label nzRequired>Họ và tên</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập họ tên!">
          <input  class="input" formControlName="fullName" placeholder="Họ và tên"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired>Số điện thoại</nz-form-label>
        <nz-form-control [nzErrorTip]="errorTpl">
          <input class="input" formControlName="phoneNumber" placeholder="Số điện thoại"/>
          <ng-template #errorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">Nhập số điện thoại!</ng-container>
            <ng-container *ngIf="control.hasError('invalidNumber')">
              Số điện thoại là các kí tự số !
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired>Tỉnh / Thành</nz-form-label>
        <nz-form-control  nzErrorTip="Vui lòng chọn Tỉnh / Thành !">
          <nz-select class="input-select" formControlName="province" nzPlaceHolder="Vui Lòng chọn Tỉnh/Thành" (ngModelChange) = "handleChangeProvince($event)">
            <nz-option nzValue="" nzLabel="Chọn Tỉnh / Thành"></nz-option>
            <nz-option *ngFor="let data of listDataProvince" [nzValue]="data.code" [nzLabel]="data.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired>Quận / Huyện</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng chọn Quận / Huyện !">
          <nz-select class="input-select" formControlName="district" nzPlaceHolder="Vui Lòng chọn Quận / Huyện" (ngModelChange) = handleChangeDistrict($event) >
            <nz-option nzValue="" nzLabel="Chọn Quận / Huyện"></nz-option>
            <nz-option *ngFor="let data of listDataDistrict" [nzValue]="data.code" [nzLabel]="data.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired>Thị xã / Phường</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng chọn Thị xã / Phường !">
          <nz-select class="input-select" formControlName="ward" nzPlaceHolder="Vui Lòng chọn Thị xã/Phường">
            <nz-option nzValue="" nzLabel="Chọn thị Xã / Phường"></nz-option>
            <nz-option *ngFor="let data of listDataWard" [nzValue]="data.code" [nzLabel]="data.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired>Địa chỉ</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập địa chỉ!">
          <input  class="input" formControlName="address" placeholder="Địa chỉ"/>
        </nz-form-control>
      </nz-form-item>
      <button (click)="submitForm()" class="btn">Hoàn tất đơn hàng</button>
    </form>
  </div>
  <div class="right">
    <div class="list-product">
      <div class="item-product" *ngFor="let data of listDataItem">
        <div class="product-detail">
          <div class="img">
            <img [src]="data.img" alt="">
          </div>
          <div class="product-des">
            <h3 class="des-title">{{data.name}}</h3>
            <h3 class="des-size">Size: {{data.size}}</h3>
            <h3 class="des-quantity">Số lượng: {{data.quantity}}</h3>
          </div>
        </div>
        <div class="total-price">{{convertNumber(data.price)}}đ</div>
      </div>
    </div>
    <div class="total-estimate">
      <div class="total-temporary">
        <h1 class="temporary-title">Tạm tính</h1>
        <span class="temporary-price">{{convertNumber(temporaryPrice)}}đ</span>
      </div>
      <div class="price-transportation">
        <h1 class="trans-title">Chi phí vận chuyển</h1>
        <span class="trans-price">{{convertNumber(transPrice)}}đ</span>
      </div>
    </div>
    <div class="total-payment">
      <h1 class="payment-title">Tổng tiền: </h1>
      <span class="payment-price">{{convertNumber(transPrice+ temporaryPrice)}}đ</span>
    </div>
  </div>
</div>
