.wrap {
  width: 1300px;
  margin-right: auto;
  margin-left: auto;
  @apply grid grid-cols-7 gap-8 mt-16;
  .left {
    @apply col-span-4 relative;
    .icon-arrow {
      @apply absolute top-1 left-2 text-2xl cursor-pointer;
    }
    .title {
      @apply text-3xl font-bold mb-6 text-center;
    }
    .form {
      @apply text-base font-semibold;
      .input {
        @apply w-full border outline-none px-4 py-2 rounded;
      }
      .input-select {
        @apply text-sm;
      }
      .btn {
        @apply border rounded px-4 py-2 text-white bg-blue-600;
      }
    }
  }
  .right {
    @apply col-span-3 h-full py-4 pb-12;
    .list-product {
      @apply pb-4 border-b;
      .item-product {
        @apply flex justify-between items-center gap-4 mb-3;
        .product-detail {
          @apply grid grid-cols-5 gap-4;
          width: 80%;
          .img {
            @apply col-span-1 rounded;
            img {
              @apply rounded w-full h-full object-cover;
            }
          }
          .product-des {
            @apply col-span-4;
            .des-title {
              @apply text-sm font-bold;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              overflow: hidden;
              height: 46px;
              line-height: 23px;
            }
            .des-size {
              @apply text-sm;
            }
            .des-quantity {
              @apply text-sm;
            }
          }
        }
        .total-price {
          width: 20%;
          @apply font-bold text-base text-right;
        }
      }
    }
    .total-estimate {
      @apply py-4 border-b;
      .total-temporary {
        @apply flex justify-between items-center text-base font-bold;
      }
      .price-transportation {
        @apply  mt-1 flex justify-between items-center text-base font-bold;
      }
    }
    .total-payment {
      @apply flex justify-between items-center text-xl font-bold mt-3;
      .payment-price {
        @apply text-red-600 text-2xl;
      }
    }
  }
}
