<div class="wrap">
 <h1 class="title">Chi Tiết Đơn Hàng</h1>
 <h2 class="name-order">Đơn hàng: <span class="order-id">#{{dataOrder.orderId.slice(0,7)}}
 </span>, Đặt lúc: <span class="order-time">{{handleData(dataOrder.orderDate.toString())}}</span>
 </h2>
  <h2 class="order-status"> Tình trạng: <span class="status">{{handleStatus(dataOrder.status)}}</span></h2>
  <div class="field">
    <span class="field-title">Tên người nhận:</span>
    <span class="field-value">{{dataOrder.customerName}}</span>
  </div>
  <div class="field">
    <span class="field-title">Số điện thoại:</span>
    <span class="field-value">{{dataOrder.phoneNumber}}</span>
  </div>
  <div class="field">
    <span class="field-title">Địa chỉ:</span>
    <span class="field-value">{{dataOrder.address}}</span>
  </div>
  <table>
    <thead>
      <tr>
        <th class="head-title"></th>
        <th class="head-title">Sản phẩm</th>
        <th class="head-title">Đơn giá</th>
        <th class="head-title">Số lượng</th>
        <th class="head-title">Thành tiền</th>
      </tr>
    </thead>
    <tbody>
      <tr class="item" *ngFor="let d of dataOrder.productOrders">
        <td class="item-img">
          <img [src]="d.img" alt="" class="img">
        </td>
        <td class="item-title">
         <div class="group-title">
           <h1 class="g-title">{{d.productName}}</h1>
           <h1 class="g-size">Size: {{d.size}}</h1>
         </div>
        </td>
        <td class="item-price">{{d.price}}đ</td>
        <td class="item-quantity">{{d.quantity}}</td>
        <td class="item-total"> {{convertNumber(d.price * d.quantity)}} đ</td>
      </tr>
      <tr class="footer-item">
        <td colspan="4" class="footer-title">Giá sản phẩm</td>
        <td class="footer-value">{{convertNumber(temporaryPrice)}} đ</td>
      </tr>
      <tr class="footer-item">
        <td colspan="4" class="footer-title">Giao hàng tận nơi</td>
        <td class="footer-value">{{convertNumber(dataOrder.shippingFee)}} đ</td>
      </tr>
      <tr class="footer-item">
        <td colspan="4" class="footer-title">Tổng tiền</td>
        <td class="footer-value">{{convertNumber(temporaryPrice + dataOrder.shippingFee)}} đ</td>
      </tr>
    </tbody>
  </table>
</div>
