.wrap {
  @apply p-8 overflow-auto;
  .title {
    @apply text-2xl font-bold text-center mb-6;
  }
  .name-order {
    @apply text-base font-medium;
  }
  .order-status {
    @apply text-base mb-4 font-medium;
  }
  .field {
    @apply my-2;
    .field-title {
      @apply text-base font-bold mr-3;
    }
    .field-value {
      @apply text-base;
    }
  }
  table{
    @apply w-full border mt-10 ;
    tr,thead,td,th {
      @apply border;
    }
    .head-title {
      min-width: 100px;
      @apply p-2 text-base font-bold;
    }
    .item {
      .item-img {
        @apply w-8 p-2;
      }
      .item-title {
        .group-title {
          @apply flex flex-col p-2 text-base;
          .g-title {
            @apply font-bold;
          }
        }
      }
      .item-price {
        @apply text-center text-base;
      }
      .item-quantity {
        @apply text-center text-base;
      }
      .item-total {
        @apply text-center text-base;
      }
    }
    .footer-item {
      @apply font-semibold p-2;
      .footer-title {
        @apply p-2 text-base;
      }
      .footer-value {
        @apply text-center text-base;
      }
    }
  }
}
