<div class="wrap">
  <h1 class="title">Thông Tin Tài Khoản</h1>
  <div class="field">
    <span class="field-title">Họ Và Tên: </span>
    <span class="field-value">{{user.fullName}}</span>
  </div>
  <div class="field">
    <span class="field-title">Email: </span>
    <span class="field-value">{{user.email}}</span>
  </div>
  <div class="field">
    <span class="field-title">Số Điện Thoại: </span>
    <span class="field-value">{{user.phoneNumber}}</span>
  </div>
  <div class="field">
    <span class="field-title">Địa Chỉ: </span>
    <span class="field-value">{{user.address}}</span>
  </div>
</div>
