<div class="wrap">
  <h1 class="title">Giới thiệu</h1>
  <div class="img">
    <img src="./assets/img/img-intro.png" alt="">
  </div>
  <p class="sub">
    Cửa hàng quần áo trẻ em Gấu Shop là một trong những kênh mua sắm thời trang babi online đã và đang được rất nhiều
    ông bố, bà mẹ quan tâm, tin tưởng nhất hiện nay. Bởi khi mua sắm tại Gấu Shop, quý khách không chỉ tiết kiệm
    được rất nhiều thời gian mà có thể  dễ dàng tìm thấy cho bé cưng nhà bạn đủ các loại quần áo thời trang, phụ kiện
    chất lượng cao từ sơ sinh đến 15 tuổi dành cho cả bé trai lẫn bé gái.
  </p>
  <div class="agreement">
    <h2 class="agr-title">Shop Gấu cam kết</h2>
    <ul>
      <li>- Cung cấp các sản phẩm – dịch vụ chất lượng tốt nhất, giá cạnh tranh, dễ mua với dịch vụ chu đáo và thân thiện.</li>
      <li>- Được đổi, trả hàng trong vòng 3 ngày với bất kỳ lý do gì.</li>
      <li>- Đội ngũ nhân viên tư vấn nhiệt tình và thân thiện.</li>
    </ul>
  </div>
  <div class="contact">
    <h2 class="contact-title">Shop Gấu cam kết</h2>
    <ul>
      <li>Giờ làm việc và tư vấn khách hàng: Từ 8giờ sáng đến 5 giờ chiều từ Thứ 2 đến thứ 7</li>
      <li>HOTLINE: 19009999 </li>
      <li>ZALO: 093818888</li>
    </ul>
  </div>
</div>
