/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body{
  font-family: 'Quicksand', sans-serif;

}
body::-webkit-scrollbar{
  width: 8px;
}
body::-webkit-scrollbar-track{
  background-color: #ccc;
  border-radius: 100rem;
}
body::-webkit-scrollbar-thumb {
  background-color: palevioletred;
  border-radius: 100rem;
}
